.about-card {
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.about-card:hover,
.about-card:focus {
  filter: brightness(110%);
}
.a-card {
  background-color: #6a2c70;
  color: var(--color-primary-font);
}

.b-card {
  background-color: #bbe1fa;
  color: var(--color-dark-font);
}

.c-card {
  background-color: #f9d923;
  color: var(--color-dark-font);
}

.d-card {
  background-color: #36ae7c;
  color: var(--color-primary-font);
}

.e-card {
  background-color: #323232;
  color: var(--color-primary-font);
}

.f-card {
  background-color: #ff97c1;
  color: var(--color-dark-font);
}

.g-card {
  background-color: #efecec;
  color: var(--color-dark-font);
}

.h-card {
  background-color: #0a3442;
  color: var(--color-primary-font);
}

.about-card-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
