.header-nav {
  color: var(--color-primary-font);
  text-decoration: none;
  margin-right: 1rem;
}

.active-header-nav {
  color: var(--color-primary-accent);
  font-weight: bold;
  text-decoration: none;
  margin-right: 1rem;
}

.header-nav:focus,
.header-nav:hover,
.active-header-nav:focus,
.active-header-nav:hover {
  color: #f06292;
}
