.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

@media only screen and (max-width: 768px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 411px) {
  .about-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
